<div>
	<div class="page-title" style="background: #F7F7F7;">
		<div class="title_left">
			<h3 >Agregar Puesto</h3>
		</div>
	</div>

	<div class="x_panel">
		<div class="x_title">
			<h2>Datos del Puesto
			</h2>
			<div class="clearfix"></div>
		</div>
		
		<div class="x_content">
		
		<!-- form -->
		<form #puestoForm="ngForm" id="puestoForm" class="form-horizontal form-label-left" (ngSubmit)="puestoForm.valid" novalidate>
			<input class="form-control" #puestoId="ngModel" puestoId="puestoId" name="puestoId" type="hidden" [(ngModel)]="puesto.puestoId">
				<div class="form-group" [ngClass]="{ 'has-error': puestoForm.submitted && !puestosId.valid}">
					<label class="control-label" for="puestos">Puestos<span class="required">*</span></label>
				<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="a" name="puestos" [(ngModel)]="puesto.puestosId" required>Promotor de cambaceo</div>		
				<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="b" name="puestos" [(ngModel)]="puesto.puestosId" required>Valuador</div>		
				<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="c" name="puestos" [(ngModel)]="puesto.puestosId" required>Mecanógrafo</div>		
				<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="d" name="puestos" [(ngModel)]="puesto.puestosId" required>Expendedor</div>		
				<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="e" name="puestos" [(ngModel)]="puesto.puestosId" required>Almacenista</div>		
				<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="f" name="puestos" [(ngModel)]="puesto.puestosId" required>Mozo</div>		
				<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="g" name="puestos" [(ngModel)]="puesto.puestosId" required>Cajero</div>		
					<input type="hidden" class="form-control input-md"  name="puestosId"  [(ngModel)]="puesto.puestosId"    #puestosId="ngModel" required>
					<div *ngIf="puestoForm.submitted && !puestosId.valid" class="help-block">Puestos es requerido</div>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error': puestoForm.submitted && !descripcion.valid}">
					<label class="control-label" for="descripcion">Descripción<span class="required">*</span></label>
					<input class="form-control col-md-12" #descripcion="ngModel" id="descripcion" name="descripcion" maxlength="128" type="text" [(ngModel)]="puesto.descripcion" required>
					<div *ngIf="puestoForm.submitted && !descripcion.valid" class="help-block">Descripción es requerido</div>
				</div>
						
		<div class="ln_solid"></div>
		
		<div class="col-sm-12">
			<div class="input-group">
				<div>
					<button class="btn btn-primary" (click)="save()"><span style="margin-right:10px;"  class="fa fa-save"></span>Agregar</button>
					<a class="btn btn-link" routerLink="../managepuesto" ><span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</a>
				</div>
			</div>
		</div>			
		</form>
		<!-- ./form -->
		
		</div>
	</div>
</div>
