
<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs" id="myTab">
        <div class="liner"></div>
        <li>
            <a routerLink="/admin/createcliente" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="personal">
                <span class="round-tabs one">
                    <i class="fa fa-user"></i>
                </span>
            </a>
        </li>

         <li>
            <a routerLink="/admin/work" routerLinkActive="active" data-toggle="tab" title="work">
                <span class="round-tabs two">
                    <i class="fa fa-tasks"></i>
                </span>
            </a>
        </li>

        <li>
            <a routerLink="/admin/address" routerLinkActive="active" data-toggle="tab" title="address">
                <span class="round-tabs three">
                    <i class="fa fa-home"></i>
                </span>
            </a>
        </li>

        <li>
            <a routerLink="/admin/result" routerLinkActive="active" data-toggle="tab" title="completed">
                <span class="round-tabs four">
                    <i class="fa fa-check"></i>
                </span>
            </a>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>

<script src="../../../assets/js/loading-bars.js"></script>
