<!-- principal -->
<div>
	<!-- page-title -->
	<div class="page-title" style="background: #F7F7F7;">
		<div class="title_left">
			<h3>Administrar Evento</h3>
		</div>
	</div>
	<!-- ./page-title -->

	<!-- x_panel -->
	<div class="x_panel">
		<div class="x_content">
			<form #eventoMngForm="ngForm" class="editForm" novalidate>
				
				<!-- row -->
				<div class='row'>
					<div class="col-lg-6">
						<button *ngIf="createActive" class="btn btn-primary" (click)="add()"><span class="fa fa-plus"></span></button>
					</div>
					<div class="col-lg-6">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Criterios de busqueda..." name="busquedaEvento" [(ngModel)]="busquedaEvento">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"><em class="fa fa-search"></em></button>
							</span>
						</div>
					</div>
				</div>
				<!-- /.row -->

				<br/>
				<!-- row -->
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							
							<div class="x_title">
								<h2>Resultados de la busqueda</h2>
								<div class="clearfix"></div>
							</div>
						
							<div class="x_content table-responsive">
								<br/>

								<!-- table -->
								<table id="datatable" class="table table-striped" style="resizable = true;">
									<thead>
										<tr>
												<th style="max-width:10%" hidden="true">Tipo de Evento</th>
												<th style="max-width:10%">Tipo de Evento</th>
												<th style="max-width:10%">Nombre del evento</th>
												<th style="max-width:10%" hidden="true">Posición</th>
												<th style="max-width:10%">Posición</th>
												<th style="max-width:10%" hidden="true">Candidato</th>
												<th style="max-width:10%">Candidato</th>
												<th style="max-width:10%">Fecha programada</th>
												<th style="max-width:10%">Responsable del evento</th>
												<th style="max-width:10%" hidden="true">Estatus</th>
												<th style="max-width:10%">Estatus</th>
										<th style="max-width:20%">Acciones</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let evento of eventoList | filterEvento: busquedaEvento | paginate: {itemsPerPage: 10, currentPage:page, id: 'paginationTableEvento'}; let i = index" (click)="setClickedRowEvento(i, evento)" >
												<td  style="max-width: 10%" hidden="true">{{evento.tipoeventoId}}</td>
												<td  style="max-width: 10%">{{evento.tipoeventoItem}}</td>
												<td  style="max-width: 10%">{{evento.nombre}}</td>
												<td  style="max-width: 10%" hidden="true">{{evento.posicionId}}</td>
												<td  style="max-width: 10%">{{evento.posicionItem}}</td>
												<td  style="max-width: 10%" hidden="true">{{evento.candidatoId}}</td>
												<td  style="max-width: 10%">{{evento.candidatoItem}}</td>
												<td  style="max-width: 10%">{{evento.fecha}}</td>
												<td  style="max-width: 10%">{{evento.responsable}}</td>
												<td  style="max-width: 10%" hidden="true">{{evento.estatuseventoId}}</td>
												<td  style="max-width: 10%">{{evento.estatuseventoItem}}</td>
											<td style="max-width: 20%">															
												<div class="container">
												<button *ngIf="updateActive" class="btn btn-default" (click)="editar(evento)"><span class="fa fa-pencil"></span></button>
												<button *ngIf="deleteActive" class="btn btn-default" (click)="eliminar(evento)"><span class="fa fa-trash"></span></button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<!-- ./table -->

								<div align="row" align="right">
									<div align="left" style="margin-top:15px; background: #DDDDDD; width: 35%; position: relative;">
										<pagination-controls (pageChange)="page = $event" id="paginationTableEvento" maxSize="10" directionLinks="true" autoHide="false" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
										</pagination-controls>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- /.row -->

				</div>
			</form>
		</div>
	</div>
	<!-- /.x_panel -->
</div>
<!-- /.principal -->
