<div>
		<div class="page-title" style="background: #F7F7F7;">
			<div class="title_left">
				<h3 >Agregar Planta</h3>
			</div>
		</div>
	
		<div class="x_panel">
			<div class="x_title">
				<h2>Datos del Planta</h2>
				<div class="clearfix"></div>
			</div>
	
			<div class="x_content">
				<!-- start form for validation -->
				<form #plantaForm="ngForm" id="plantaForm" class="form-horizontal form-label-left" (ngSubmit)="plantaForm.valid && save()" novalidate>
					<input class="form-control" #plantaId="ngModel" plantaId="plantaId" name="plantaId" type="hidden" [(ngModel)]="planta.plantaId">
						
						<div class="form-group" [ngClass]="{ 'has-error': plantaForm.submitted && !empresaId.valid}">
							<label class="control-label" for="empresa">Clave Empresa<span class="required">*</span></label>
							<div class="input-group">
								<input type="hidden" class="form-control input-md"  name="empresaId"   [(ngModel)]="planta.empresaId"    #empresaId="ngModel" required>
								<input type="text"   class="form-control input-md"  name="empresaItem" [(ngModel)]="planta.empresaItem"  #empresaItem="ngModel" placeholder="Empresa...">
								<span class="input-group-btn">
									<button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#modalEmpresa">
										<em class="fa fa-search"></em>
									</button>
								</span>
							</div>
							<div *ngIf="plantaForm.submitted && !empresaId.valid" class="help-block">Clave Empresa es requerido</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': plantaForm.submitted && !nombreplanta.valid}">
							<label class="control-label" for="nombreplanta">Planta<span class="required">*</span></label>
							<input class="form-control col-md-12" #nombreplanta="ngModel" id="nombreplanta" name="nombreplanta" maxlength="128" type="text" [(ngModel)]="planta.nombreplanta" required>
							<div *ngIf="plantaForm.submitted && !nombreplanta.valid" class="help-block">Planta es requerido</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': plantaForm.submitted && !direccion.valid}">
							<label class="control-label" for="direccion">Direccion<span class="required">*</span></label>
							<input class="form-control col-md-12" #direccion="ngModel" id="direccion" name="direccion" maxlength="128" type="text" [(ngModel)]="planta.direccion" required>
							<div *ngIf="plantaForm.submitted && !direccion.valid" class="help-block">Direccion es requerido</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': plantaForm.submitted && !diadepago.valid}">
							<label class="control-label" for="diadepago">Dia de pago<span class="required">*</span></label>
							<input class="form-control col-md-12" #diadepago="ngModel" id="diadepago" name="diadepago" maxlength="128" type="number" [(ngModel)]="planta.diadepago" required>
							<div *ngIf="plantaForm.submitted && !diadepago.valid" class="help-block">Dia de pago es requerido</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': plantaForm.submitted && !maximo.valid}">
							<label class="control-label" for="maximo">Prestamo maximo<span class="required">*</span></label>
							<input class="form-control col-md-12" #maximo="ngModel" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" id="maximo" name="maximo" maxlength="128" type="number" [(ngModel)]="planta.maximo" required>
							<div *ngIf="plantaForm.submitted && !maximo.valid" class="help-block">Prestamo maximo es requerido</div>
						</div>
						<div class="form-group" [ngClass]="{ 'has-error': plantaForm.submitted && !minimo.valid}">
							<label class="control-label" for="minimo">Prestamo minimo<span class="required">*</span></label>
							<input class="form-control col-md-12" #minimo="ngModel" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" id="minimo" name="minimo" maxlength="128" type="number" [(ngModel)]="planta.minimo" required>
							<div *ngIf="plantaForm.submitted && !minimo.valid" class="help-block">Prestamo minimo es requerido</div>
						</div>
	


<!-- Modal empresa -->
<div id="modalEmpresa" class="modal fade"  role="dialog" data-backdrop="false" style="background: rgba(0, 0, 0, 0.31);">
	<div class="modal-dialog" style="width:60%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close">&times;</button>
				<h4 class="modal-title">Empresa</h4>
			</div>
			<div class="modal-body">
				<div class='row'>
					<div class="col-lg-6">
						<br/>
					</div>
					<div class="col-lg-6">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search for..." name="busquedaempresa" [(ngModel)]="busquedaEmpresa">
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button"><em class="fa fa-search"></em></button>
							</span>
						</div>
					</div>
				</div>

				<div class="row">
				<table class="table table-striped table-bordered" style="border: 1px solid #dee2e6; margin:20px; width:96%;">
						<thead>
							<tr>
								<th style="max-width:10%"></th>
								<th  style="max-width: 10%">Clave</th>
								<th  style="max-width: 10%">Nombre Corto</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let empresa of empresaList | filterEmpresa: busquedaEmpresa | paginate: {itemsPerPage: 10, currentPage:page, id: '1'}; let i = index" >
								<td  style="max-width: 10%"><input type="radio" name="empresaId" [checked]="empresa.checked" value="{{empresa.empresaId}}" (click)="setClickedRowEmpresa(i, empresa)"></td>
								<td  style="max-width: 10%">{{empresa.clave}}</td>
								<td  style="max-width: 10%">{{empresa.nombrecorto}}</td>
							</tr>
						</tbody>
					</table>

						<div align="center" style="margin-top:15px;">
							<pagination-controls (pageChange)="page = $event" id="1" maxSize="10" directionLinks="true" autoHide="false" previousLabel="<"
								nextLabel=">" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
							</pagination-controls>
						</div>

					<div class="row">
						<div class="text-right" style="padding-right:40px">
							<button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">Elegir</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


				<div class="ln_solid"></div>

				<div class="col-sm-12">
					<div class="input-group">
						<div *ngIf="flagDelete">
							<button class="btn btn-danger" (click)="delete()"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
							<button class="btn btn-link" (click)="return(plantaForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
						</div>
						<div *ngIf="flag && !flagDelete">
							<button class="btn btn-primary"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
							<button class="btn btn-link" (click)="return(plantaForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
						</div>
						<div *ngIf="!flag && !flagDelete">
							<button class="btn btn-primary"><span style="margin-right:10px;"  class="fa fa-save"></span>Agregar</button>
							<button class="btn btn-link" (click)="return(plantaForm)"><span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
						</div>
					</div>
				</div>
			</form>
			<!-- end form for validation -->
		</div>
	</div>
</div>

