<div>
	<div class="page-title" style="background: #F7F7F7;">
		<div class="title_left">
			<h3 *ngIf="flagDelete">Eliminar Candidato</h3>
			<h3 *ngIf="flag && !flagDelete">Actualizar Candidato</h3>
		</div>
	</div>

	<div class="x_panel">
		<div class="x_title">
			<h2>Datos de Candidato</h2>
			<div class="clearfix"></div>
		</div>

		<div class="x_content">
			
			<!-- form -->
			<form #candidatoForm="ngForm" id="candidatoForm" class="form-horizontal form-label-left" (ngSubmit)="candidatoForm.valid && save()" novalidate>
				<input class="form-control" #candidatoId="ngModel" candidatoId="candidatoId" name="candidatoId" type="hidden" [(ngModel)]="candidato.candidatoId">
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="nombre">Candidato<span class="required">*</span></label>
							<input class="form-control col-md-12" #nombre="ngModel" name="nombre" maxlength="128" type="text" [(ngModel)]="candidato.nombre" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': candidatoForm.submitted && !nombre.valid}">
							<label class="control-label" for="nombre">Candidato<span class="required">*</span></label>
							<input class="form-control col-md-12" #nombre="ngModel" name="nombre" maxlength="128" type="text" [(ngModel)]="candidato.nombre" required>
							<div *ngIf="candidatoForm.submitted && !nombre.valid" class="help-block">Candidato es requerido</div>
						</div>
					</div>
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="apellidopaterno">Apellido Paterno<span class="required">*</span></label>
							<input class="form-control col-md-12" #apellidopaterno="ngModel" name="apellidopaterno" maxlength="128" type="text" [(ngModel)]="candidato.apellidopaterno" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': candidatoForm.submitted && !apellidopaterno.valid}">
							<label class="control-label" for="apellidopaterno">Apellido Paterno<span class="required">*</span></label>
							<input class="form-control col-md-12" #apellidopaterno="ngModel" name="apellidopaterno" maxlength="128" type="text" [(ngModel)]="candidato.apellidopaterno" required>
							<div *ngIf="candidatoForm.submitted && !apellidopaterno.valid" class="help-block">Apellido Paterno es requerido</div>
						</div>
					</div>
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="apellidomaterno">Apellido Materno<span class="required">*</span></label>
							<input class="form-control col-md-12" #apellidomaterno="ngModel" name="apellidomaterno" maxlength="128" type="text" [(ngModel)]="candidato.apellidomaterno" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': candidatoForm.submitted && !apellidomaterno.valid}">
							<label class="control-label" for="apellidomaterno">Apellido Materno<span class="required">*</span></label>
							<input class="form-control col-md-12" #apellidomaterno="ngModel" name="apellidomaterno" maxlength="128" type="text" [(ngModel)]="candidato.apellidomaterno" required>
							<div *ngIf="candidatoForm.submitted && !apellidomaterno.valid" class="help-block">Apellido Materno es requerido</div>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': candidatoForm.submitted && !fecha.valid}">
							<label class="control-label" for="fecha">Fecha de nacimiento<span class="required">*</span></label>
							<div class="input-group col-md-12">	
								<input class="form-control" placeholder="dd/MM/yyyy" maxlength="10" minlength="10" name="fechaAux" [(ngModel)]="candidato.fechaAux" ngbDatepicker #fechaAux="ngbDatepicker" required>
								<span class="input-group-btn">
									<button class="btn btn-outline-secondary" (click)="fechaAux.toggle()" type="button">
										<em class="fa fa-calendar"></em>
									</button>
								</span>
							</div>
							<div *ngIf="candidatoForm.submitted && !fechaAux.valid" class="help-block">Fecha de nacimiento o formato invalido</div>
						</div>
					</div>
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="fecha">Fecha de nacimiento<span class="required">*</span></label>
							<div class="input-group col-md-12">	
								<input class="form-control" placeholder="dd/MM/yyyy" maxlength="10" minlength="10" name="fechaAux" [(ngModel)]="candidato.fechaAux" ngbDatepicker #fechaAux="ngbDatepicker" readonly disabled>
								<span class="input-group-btn">
									<button class="btn btn-outline-secondary" (click)="fechaAux.toggle()" type="button" disabled>
										<em class="fa fa-calendar"></em>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="genero">Genero<span class="required">*</span></label>
					<div class="col-md-12" *ngIf="flagDelete">
					<input *ngIf="flagDelete" type="radio" aria-label="Radio button for following text input" value="mas" name="genero" [(ngModel)]="candidato.generoId" disabled="true" disabled>Masculino
					</div>
					<div class="col-md-12" *ngIf="!flagDelete">
					<input *ngIf="!flagDelete" type="radio" aria-label="Radio button for following text input" value="mas" name="genero" [(ngModel)]="candidato.generoId">Masculino
					</div>
					<div class="col-md-12" *ngIf="flagDelete">
					<input *ngIf="flagDelete" type="radio" aria-label="Radio button for following text input" value="fem" name="genero" [(ngModel)]="candidato.generoId" disabled="true" disabled>Femenino
					</div>
					<div class="col-md-12" *ngIf="!flagDelete">
					<input *ngIf="!flagDelete" type="radio" aria-label="Radio button for following text input" value="fem" name="genero" [(ngModel)]="candidato.generoId">Femenino
					</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="estatuscandidato">EstatusCandidato<span class="required">*</span></label>
					<div class="col-md-12" *ngIf="flagDelete">
					<input *ngIf="flagDelete" type="radio" aria-label="Radio button for following text input" value="e1" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId" disabled="true" disabled>Contactado
					</div>
					<div class="col-md-12" *ngIf="!flagDelete">
					<input *ngIf="!flagDelete" type="radio" aria-label="Radio button for following text input" value="e1" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId">Contactado
					</div>
					<div class="col-md-12" *ngIf="flagDelete">
					<input *ngIf="flagDelete" type="radio" aria-label="Radio button for following text input" value="e2" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId" disabled="true" disabled>En proceso de evaluación
					</div>
					<div class="col-md-12" *ngIf="!flagDelete">
					<input *ngIf="!flagDelete" type="radio" aria-label="Radio button for following text input" value="e2" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId">En proceso de evaluación
					</div>
					<div class="col-md-12" *ngIf="flagDelete">
					<input *ngIf="flagDelete" type="radio" aria-label="Radio button for following text input" value="e3" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId" disabled="true" disabled>Ofertado
					</div>
					<div class="col-md-12" *ngIf="!flagDelete">
					<input *ngIf="!flagDelete" type="radio" aria-label="Radio button for following text input" value="e3" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId">Ofertado
					</div>
					<div class="col-md-12" *ngIf="flagDelete">
					<input *ngIf="flagDelete" type="radio" aria-label="Radio button for following text input" value="e4" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId" disabled="true" disabled>En proceso de contratación
					</div>
					<div class="col-md-12" *ngIf="!flagDelete">
					<input *ngIf="!flagDelete" type="radio" aria-label="Radio button for following text input" value="e4" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId">En proceso de contratación
					</div>
					<div class="col-md-12" *ngIf="flagDelete">
					<input *ngIf="flagDelete" type="radio" aria-label="Radio button for following text input" value="e5" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId" disabled="true" disabled>Contratado
					</div>
					<div class="col-md-12" *ngIf="!flagDelete">
					<input *ngIf="!flagDelete" type="radio" aria-label="Radio button for following text input" value="e5" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId">Contratado
					</div>
					<div class="col-md-12" *ngIf="flagDelete">
					<input *ngIf="flagDelete" type="radio" aria-label="Radio button for following text input" value="e6" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId" disabled="true" disabled>Rechazado
					</div>
					<div class="col-md-12" *ngIf="!flagDelete">
					<input *ngIf="!flagDelete" type="radio" aria-label="Radio button for following text input" value="e6" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId">Rechazado
					</div>
					<div class="col-md-12" *ngIf="flagDelete">
					<input *ngIf="flagDelete" type="radio" aria-label="Radio button for following text input" value="e7" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId" disabled="true" disabled>Declinó
					</div>
					<div class="col-md-12" *ngIf="!flagDelete">
					<input *ngIf="!flagDelete" type="radio" aria-label="Radio button for following text input" value="e7" name="estatuscandidato" [(ngModel)]="candidato.estatuscandidatoId">Declinó
					</div>
					</div>
				<div class="ln_solid"></div>

				<div class="col-sm-12">
					<div class="input-group">
						<div *ngIf="flagDelete">
							<button class="btn btn-danger" (click)="delete()"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
							<button class="btn btn-link" (click)="return(ordensimplificadaForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
						</div>
						<div *ngIf="flag && !flagDelete">
							<button class="btn btn-primary"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
							<button class="btn btn-link" (click)="return(ordensimplificadaForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
						</div>
					</div>
				</div>
			</form>
			<!-- ./form -->
			
		</div>
	</div>
</div>
