<div>
	<div class="page-title" style="background: #F7F7F7;">
		<div class="title_left">
			<h3 *ngIf="flagDelete">Eliminar Documento Probatorio</h3>
			<h3 *ngIf="flag && !flagDelete">Actualizar Documento Probatorio</h3>
		</div>
	</div>

	<div class="x_panel">
		<div class="x_title">
			<h2>Datos de Documento Probatorio</h2>
			<div class="clearfix"></div>
		</div>

		<div class="x_content">
			
			<!-- form -->
			<form #documentoForm="ngForm" id="documentoForm" class="form-horizontal form-label-left" (ngSubmit)="documentoForm.valid" novalidate>
				<input class="form-control" #documentoId="ngModel" documentoId="documentoId" name="documentoId" type="hidden" [(ngModel)]="documento.documentoId">
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="nombre">Nombre del documento<span class="required">*</span></label>
							<input class="form-control col-md-12" #nombre="ngModel" name="nombre" maxlength="128" type="text" [(ngModel)]="documento.nombre" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': documentoForm.submitted && !nombre.valid}">
							<label class="control-label" for="nombre">Nombre del documento<span class="required">*</span></label>
							<input class="form-control col-md-12" #nombre="ngModel" name="nombre" maxlength="128" type="text" [(ngModel)]="documento.nombre" required>
							<div *ngIf="documentoForm.submitted && !nombre.valid" class="help-block">Nombre del documento es requerido</div>
						</div>
					</div>
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="descripcion">Descripción del documento<span class="required">*</span></label>
							<input class="form-control col-md-12" #descripcion="ngModel" name="descripcion" maxlength="128" type="text" [(ngModel)]="documento.descripcion" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': documentoForm.submitted && !descripcion.valid}">
							<label class="control-label" for="descripcion">Descripción del documento<span class="required">*</span></label>
							<input class="form-control col-md-12" #descripcion="ngModel" name="descripcion" maxlength="128" type="text" [(ngModel)]="documento.descripcion" required>
							<div *ngIf="documentoForm.submitted && !descripcion.valid" class="help-block">Descripción del documento es requerido</div>
						</div>
					</div>
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="size">Tamaño<span class="required">*</span></label>
							<input class="form-control col-md-12"   #size="ngModel" name="size" maxlength="128" type="number" [(ngModel)]="documento.size" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': documentoForm.submitted && !size.valid}">
							<label class="control-label" for="size">Tamaño<span class="required">*</span></label>
							<input class="form-control col-md-12" #size="ngModel" name="size" maxlength="128" type="number" [(ngModel)]="documento.size" required>
							<div *ngIf="documentoForm.submitted && !size.valid" class="help-block">Tamaño es requerido</div>
						</div>
					</div>
				<div class="ln_solid"></div>

				<div class="col-sm-12">
					<div class="input-group">
						<div *ngIf="flagDelete">
							<button class="btn btn-danger" (click)="delete()"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
							<a class="btn btn-link" routerLink="../managedocumento" ><span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</a>
						</div>
						<div *ngIf="flag && !flagDelete">
							<button class="btn btn-primary" (click)="save()"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
							<a class="btn btn-link" routerLink="../managedocumento" ><span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</a>
						</div>
					</div>
				</div>
			</form>
			<!-- ./form -->
			
		</div>
	</div>
</div>
