
<div class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="index.html" class="site_title"><img src="../../assets/img/logo.png" width="30px"> <span>PSG</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="../../assets/img/body.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{valueName}} </h2>
                </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->

            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>

                <ul class="nav side-menu">{{user.authority}}
                <!-- entities -->

                <li><a><i class="fa fa-home"></i> Candidato <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li *ngIf="candidato_mgmnt">
                      <a routerLink="./managecandidato" >
                        Administrar Candidato 
                      </a>
                    </li>
                    <li *ngIf="candidato">
                        <a routerLink="./createcandidato" >
                          Agregar Candidato
                        </a>
                    </li>
                  </ul>
           </li>
           <li><a><i class="fa fa-home"></i> Domicilio <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li *ngIf="direccion_mgmnt">
                    <a routerLink="./managedireccion" >
                      Administrar Domicilio 
                    </a>
                  </li>
                  <li *ngIf="direccion">
                      <a routerLink="./createdireccion" >
                        Agregar Domicilio
                      </a>
                  </li>
                </ul>
            </li>
            <li><a><i class="fa fa-home"></i> Documento Probatorio <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li *ngIf="documento_mgmnt">
                  <a routerLink="./managedocumento" >
                    Administrar Documento Probatorio 
                  </a>
                </li>
                <li *ngIf="documento">
                    <a routerLink="./createdocumento" >
                      Agregar Documento Probatorio
                    </a>
                </li>
              </ul>
          </li>
          <li><a><i class="fa fa-home"></i> Solicitud de empleo <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li *ngIf="solicitud_mgmnt">
                <a routerLink="./managesolicitud" >
                  Administrar Solicitud de empleo 
                </a>
              </li>
              <li *ngIf="solicitud">
                  <a routerLink="./createsolicitud" >
                    Agregar Solicitud de empleo
                  </a>
              </li>
            </ul>
        </li>
        <li><a><i class="fa fa-home"></i> Evento <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li *ngIf="evento_mgmnt">
              <a routerLink="./manageevento" >
                Administrar Evento
              </a>
            </li>
            <li *ngIf="evento">
                <a routerLink="./createevento" >
                  Agregar Evento
                </a>
            </li>
          </ul>
      </li>
          <li><a><i class="fa fa-home"></i> Filial <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li *ngIf="filial_mgmnt">
                <a routerLink="./managefilial" >
                  Administrar Filial
                </a>
              </li>
              <li *ngIf="filial">
                  <a routerLink="./createfilial" >
                    Agregar Filial
                  </a>
              </li>
            </ul>
        </li>
        <li><a><i class="fa fa-home"></i> Posición <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li *ngIf="posicion_mgmnt">
              <a routerLink="./manageposicion" >
                Administrar Posición
              </a>
            </li>
            <li *ngIf="posicion">
                <a routerLink="./createposicion" >
                  Agregar Posición
                </a>
            </li>
          </ul>
      </li>
      <li><a><i class="fa fa-home"></i> Puesto <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li *ngIf="puesto_mgmnt">
            <a routerLink="./managepuesto" >
              Administrar Puesto
            </a>
          </li>
          <li *ngIf="puesto">
              <a routerLink="./createpuesto" >
                Agregar Puesto
              </a>
          </li>
        </ul>
    </li>
    <li><a><i class="fa fa-home"></i> Reclutador <span class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li *ngIf="reclutador_mgmnt">
          <a routerLink="./managereclutador" >
            Administrar Reclutador
          </a>
        </li>
        <li *ngIf="reclutador">
            <a routerLink="./createreclutador" >
              Agregar Reclutador
            </a>
        </li>
      </ul>
  </li>
  <li><a><i class="fa fa-home"></i> Rol <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li *ngIf="rol_mgmnt">
        <a routerLink="./managerol" >
          Administrar Rol
        </a>
      </li>
      <li *ngIf="rol">
          <a routerLink="./createrol" >
            Agregar Rol
          </a>
      </li>
    </ul>
</li>
<li><a><i class="fa fa-home"></i> Trayectoria <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu">
    <li *ngIf="trayectoria_mgmnt">
      <a routerLink="./managetrayectoria" >
        Administrar Trayectoria
      </a>
    </li>
    <li *ngIf="trayectoria">
        <a routerLink="./createtrayectoria" >
          Agregar Trayectoria
        </a>
    </li>
  </ul>
</li>
<li><a><i class="fa fa-home"></i> Usuario <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu">
    <li *ngIf="usuario_mgmnt">
      <a routerLink="./manageusuario" >
        Administrar Usuario
      </a>
    </li>
    <li *ngIf="usuario">
        <a routerLink="./createusuario" >
          Agregar Usuario
        </a>
    </li>
  </ul>
</li>
<li><a><i class="fa fa-home"></i> Permiso <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu">
    <li *ngIf="permiso_mgmnt">
      <a routerLink="./managepermiso" >
        Administrar Permiso
      </a>
    </li>
    <li *ngIf="permiso">
        <a routerLink="./createpermiso" >
          Agregar Permiso
        </a>
    </li>
  </ul>
</li>


                <!-- /entities -->  
                </ul>

                <div *ngIf="manage">
                <h3>Admin</h3>
                </div>

                <ul class="nav side-menu">
                  <li><a *ngIf="manage" routerLink="./manage" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Manage Privileges </a>
                  </li>
                  <li  *ngIf="authority_mgmnt"><a routerLink="./manageAuthority" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Administrar Authority </a>
                  </li>
                  <li  *ngIf="authority"><a routerLink="./createAuthority" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Agregar Authority</a>
                  </li>
                  <li  *ngIf="user_mgmnt"><a routerLink="./manageUser" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Administrar User </a>
                  </li>
                  <li  *ngIf="user"><a routerLink="./createUser" routerLinkActive="active">
                    <i class="fa fa-edit"></i> Agregar User </a>
                  </li>
                </ul>

            </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="../../assets/img/body.jpg" alt="">{{valueName}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li style="text-align: right"><button (click) = "logout()" style="background: none;" >LogOut</button></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="container body">
          <div class="right_col" role="main">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">


                            <router-outlet></router-outlet>


                  </div>
                </div>
              </div>
            </div>

        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            <a href="http://www.softtek.com/es/">@ Softtek 2018</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    </div>

