
<div class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="index.html" class="site_title"><img src="../../assets/img/logo.png" width="30px"> <span>PSG</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="../../assets/img/body.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{valueName}} </h2>
                </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu scrollMenu">
              <div class="menu_section">
                <h3>General</h3>

                <ul class="nav side-menu">{{user.authority}}
                
                  <!-- entities -->
                <li><a><i class="fa fa-home"></i> Cuenta bancaria <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li *ngIf="cuentabancaria_mgmnt">
                      <a routerLink="./managecuentabancaria" >
                        Administrar Cuenta bancaria
                      </a>
                    </li>
                    <li *ngIf="cuentabancaria">
                        <a routerLink="./createcuentabancaria" >
                          Agregar Cuenta bancaria 
                        </a>
                    </li>
                  </ul>
                </li>

				  <li *ngIf="cuentadeahorro_mgmnt"><a routerLink="./managecuentadeahorro" >
				    <i class="fa fa-edit"></i> Administrar Cuenta de ahorro </a>
				  </li>
                  <li *ngIf="cuentadeahorro"><a routerLink="./createcuentadeahorro"  >
                    <i class="fa fa-edit"></i> Agregar Cuenta de ahorro </a>
                  </li>
				  <li *ngIf="aportacion_mgmnt"><a routerLink="./manageaportacion" >
				    <i class="fa fa-edit"></i> Administrar Aportacion </a>
				  </li>
                  <li *ngIf="aportacion"><a routerLink="./createaportacion"  >
                    <i class="fa fa-edit"></i> Agregar Aportacion </a>
                  </li>
				  <li *ngIf="tasadeinteres_mgmnt"><a routerLink="./managetasadeinteres" >
				    <i class="fa fa-edit"></i> Administrar Tasa de interes </a>
				  </li>
                  <li *ngIf="tasadeinteres"><a routerLink="./createtasadeinteres"  >
                    <i class="fa fa-edit"></i> Agregar Tasa de interes </a>
                  </li>
				  <li *ngIf="departamento_mgmnt"><a routerLink="./managedepartamento" >
				    <i class="fa fa-edit"></i> Administrar Departamento </a>
				  </li>
                  <li *ngIf="departamento"><a routerLink="./createdepartamento"  >
                    <i class="fa fa-edit"></i> Agregar Departamento </a>
                  </li>
				  <li *ngIf="domicilio_mgmnt"><a routerLink="./managedomicilio" >
				    <i class="fa fa-edit"></i> Administrar Domicilio </a>
				  </li>
                  <li *ngIf="domicilio"><a routerLink="./createdomicilio"  >
                    <i class="fa fa-edit"></i> Agregar Domicilio </a>
                  </li>
				  <li *ngIf="empresa_mgmnt"><a routerLink="./manageempresa" >
				    <i class="fa fa-edit"></i> Administrar Empresa </a>
				  </li>
                  <li *ngIf="empresa"><a routerLink="./createempresa"  >
                    <i class="fa fa-edit"></i> Agregar Empresa </a>
                  </li>
				  <li *ngIf="beneficiario_mgmnt"><a routerLink="./managebeneficiario" >
				    <i class="fa fa-edit"></i> Administrar Beneficiario </a>
				  </li>
                  <li *ngIf="beneficiario"><a routerLink="./createbeneficiario"  >
                    <i class="fa fa-edit"></i> Agregar Beneficiario </a>
                  </li>
				  <li *ngIf="planta_mgmnt"><a routerLink="./manageplanta" >
				    <i class="fa fa-edit"></i> Administrar Planta </a>
				  </li>
                  <li *ngIf="planta"><a routerLink="./createplanta"  >
                    <i class="fa fa-edit"></i> Agregar Planta </a>
                  </li>
				  <li *ngIf="socio_mgmnt"><a routerLink="./managesocio" >
				    <i class="fa fa-edit"></i> Administrar Socio </a>
				  </li>
                  <li *ngIf="socio"><a routerLink="./createsocio"  >
                    <i class="fa fa-edit"></i> Agregar Socio </a>
                  </li>
				  <li *ngIf="perfil_mgmnt"><a routerLink="./manageperfil" >
				    <i class="fa fa-edit"></i> Administrar Perfil </a>
				  </li>
                  <li *ngIf="perfil"><a routerLink="./createperfil"  >
                    <i class="fa fa-edit"></i> Agregar Perfil </a>
                  </li>
				  <li *ngIf="interes_mgmnt"><a routerLink="./manageinteres" >
				    <i class="fa fa-edit"></i> Administrar Intereses </a>
				  </li>
                  <li *ngIf="interes"><a routerLink="./createinteres"  >
                    <i class="fa fa-edit"></i> Agregar Intereses </a>
                  </li>
                <!-- /entities -->
                </ul>

                <div *ngIf="manage">
                <h3>Admin</h3>
                </div>

                <ul class="nav side-menu">
                  <li><a *ngIf="manage" routerLink="./manage" >
                    <i class="fa fa-edit"></i> Manage Privileges </a>
                  </li>
                  <li  *ngIf="authority_mgmnt"><a routerLink="./manageAuthority" >
                    <i class="fa fa-edit"></i> Administrar Authority </a>
                  </li>
                  <li  *ngIf="authority"><a routerLink="./createAuthority" >
                    <i class="fa fa-edit"></i> Agregar Authority</a>
                  </li>
                  <li  *ngIf="user_mgmnt"><a routerLink="./manageUser" >
                    <i class="fa fa-edit"></i> Administrar User </a>
                  </li>
                  <li  *ngIf="user"><a routerLink="./createUser" >
                    <i class="fa fa-edit"></i> Agregar User </a>
                  </li>
                </ul>

            </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="../../assets/img/body.jpg" alt="">{{valueName}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li style="text-align: right"><button (click) = "logout()" style="background: none;" >LogOut</button></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="container body">
          <div class="right_col" role="main">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">


                            <router-outlet></router-outlet>


                  </div>
                </div>
              </div>
            </div>

        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            <a href="http://www.softtek.com/es/">@ Softtek 2018</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    </div>
