.alert-danger, .alert-error {
    color: #a94442;    
    
}

.alert {
    padding: 5px;
}


.alert-danger {
   
    background-color: #fff; 
    border-color: #fff; 
}

.alert-error {

    background-color: #fff; 
    border-color: #fff; 
}