<div>
	<div class="page-title" style="background: #F7F7F7;">
		<div class="title_left">
			<h3 *ngIf="flagDelete">Eliminar Filial</h3>
			<h3 *ngIf="flag && !flagDelete">Actualizar Filial</h3>
		</div>
	</div>

	<div class="x_panel">
		<div class="x_title">
			<h2>Datos de Filial</h2>
			<div class="clearfix"></div>
		</div>

		<div class="x_content">
			
			<!-- form -->
			<form #filialForm="ngForm" id="filialForm" class="form-horizontal form-label-left" (ngSubmit)="filialForm.valid" novalidate>
				<input class="form-control" #filialId="ngModel" filialId="filialId" name="filialId" type="hidden" [(ngModel)]="filial.filialId">
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="nombre">Nombre<span class="required">*</span></label>
							<input class="form-control col-md-12" #nombre="ngModel" name="nombre" maxlength="128" type="text" [(ngModel)]="filial.nombre" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': filialForm.submitted && !nombre.valid}">
							<label class="control-label" for="nombre">Nombre<span class="required">*</span></label>
							<input class="form-control col-md-12" #nombre="ngModel" name="nombre" maxlength="128" type="text" [(ngModel)]="filial.nombre" required>
							<div *ngIf="filialForm.submitted && !nombre.valid" class="help-block">Nombre es requerido</div>
						</div>
					</div>	
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="ubicacion">Ubicación de la filial<span class="required">*</span></label>
							<input class="form-control col-md-12" #ubicacion="ngModel" name="ubicacion" maxlength="128" type="text" [(ngModel)]="filial.ubicacion" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': filialForm.submitted && !ubicacion.valid}">
							<label class="control-label" for="ubicacion">Ubicación de la filial<span class="required">*</span></label>
							<input class="form-control col-md-12" #ubicacion="ngModel" name="ubicacion" maxlength="128" type="text" [(ngModel)]="filial.ubicacion" required>
							<div *ngIf="filialForm.submitted && !ubicacion.valid" class="help-block">Ubicación de la filial es requerido</div>
						</div>
					</div>	
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="ciudad">Ciudad<span class="required">*</span></label>
							<input class="form-control col-md-12" #ciudad="ngModel" name="ciudad" maxlength="128" type="text" [(ngModel)]="filial.ciudad" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': filialForm.submitted && !ciudad.valid}">
							<label class="control-label" for="ciudad">Ciudad<span class="required">*</span></label>
							<input class="form-control col-md-12" #ciudad="ngModel" name="ciudad" maxlength="128" type="text" [(ngModel)]="filial.ciudad" required>
							<div *ngIf="filialForm.submitted && !ciudad.valid" class="help-block">Ciudad es requerido</div>
						</div>
					</div>	
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="estado">Estado<span class="required">*</span></label>
							<input class="form-control col-md-12" #estado="ngModel" name="estado" maxlength="128" type="text" [(ngModel)]="filial.estado" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': filialForm.submitted && !estado.valid}">
							<label class="control-label" for="estado">Estado<span class="required">*</span></label>
							<input class="form-control col-md-12" #estado="ngModel" name="estado" maxlength="128" type="text" [(ngModel)]="filial.estado" required>
							<div *ngIf="filialForm.submitted && !estado.valid" class="help-block">Estado es requerido</div>
						</div>
					</div>	
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="telefono">Teléfono<span class="required">*</span></label>
							<input class="form-control col-md-12" #telefono="ngModel" name="telefono" maxlength="128" type="text" [(ngModel)]="filial.telefono" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': filialForm.submitted && !telefono.valid}">
							<label class="control-label" for="telefono">Teléfono<span class="required">*</span></label>
							<input class="form-control col-md-12" #telefono="ngModel" name="telefono" maxlength="128" type="text" [(ngModel)]="filial.telefono" required>
							<div *ngIf="filialForm.submitted && !telefono.valid" class="help-block">Teléfono es requerido</div>
						</div>
					</div>	
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="sitio">Sitio Web<span class="required">*</span></label>
							<input class="form-control col-md-12" #sitio="ngModel" name="sitio" maxlength="128" type="text" [(ngModel)]="filial.sitio" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': filialForm.submitted && !sitio.valid}">
							<label class="control-label" for="sitio">Sitio Web<span class="required">*</span></label>
							<input class="form-control col-md-12" #sitio="ngModel" name="sitio" maxlength="128" type="text" [(ngModel)]="filial.sitio" required>
							<div *ngIf="filialForm.submitted && !sitio.valid" class="help-block">Sitio Web es requerido</div>
						</div>
					</div>	
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="contacto">Contacto<span class="required">*</span></label>
							<input class="form-control col-md-12" #contacto="ngModel" name="contacto" maxlength="128" type="text" [(ngModel)]="filial.contacto" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': filialForm.submitted && !contacto.valid}">
							<label class="control-label" for="contacto">Contacto<span class="required">*</span></label>
							<input class="form-control col-md-12" #contacto="ngModel" name="contacto" maxlength="128" type="text" [(ngModel)]="filial.contacto" required>
							<div *ngIf="filialForm.submitted && !contacto.valid" class="help-block">Contacto es requerido</div>
						</div>
					</div>	
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="notas">Notas</label>
							<input class="form-control col-md-12" #notas="ngModel" name="notas" maxlength="128" type="text" [(ngModel)]="filial.notas" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group">
							<label class="control-label" for="notas">Notas</label>
							<input class="form-control col-md-12" #notas="ngModel" name="notas" maxlength="128" type="text" [(ngModel)]="filial.notas" required>
							<div *ngIf="filialForm.submitted && !notas.valid" class="help-block">Notas es requerido</div>
						</div>
					</div>
				<div class="ln_solid"></div>

				<div class="col-sm-12">
					<div class="input-group">
						<div *ngIf="flagDelete">
							<button class="btn btn-danger" (click)="delete()"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
							<a class="btn btn-link" routerLink="../managefilial" ><span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</a>
						</div>
						<div *ngIf="flag && !flagDelete">
							<button class="btn btn-primary" (click)="save()"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
							<a class="btn btn-link" routerLink="../managefilial" ><span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</a>
						</div>
					</div>
				</div>
			</form>
			<!-- ./form -->
			
		</div>
	</div>
</div>
