<div>
		<div class="page-title" style="background: #F7F7F7;">
			<div class="title_left">
				<h3 >Agregar Posición</h3>
			</div>
		</div>
	
		<div class="x_panel">
			<div class="x_title">
				<h2>Datos del Posición
				</h2>
				<div class="clearfix"></div>
			</div>
			
			<div class="x_content">
			
			<!-- form -->
			<form #posicionForm="ngForm" id="posicionForm" class="form-horizontal form-label-left" (ngSubmit)="posicionForm.valid && save()" novalidate>
				<input class="form-control" #posicionId="ngModel" posicionId="posicionId" name="posicionId" type="hidden" [(ngModel)]="posicion.posicionId">
					<div class="form-group" [ngClass]="{ 'has-error': posicionForm.submitted && !filialId.valid}">
						<label class="control-label" for="filial">Filial<span class="required">*</span></label>
						<div class="input-group">
							<input type="hidden" class="form-control input-md"  name="filialId"   [(ngModel)]="posicion.filialId"    #filialId="ngModel" required>
							<input type="text"   class="form-control input-md"  name="filialItem" [(ngModel)]="posicion.filialItem"  #filialItem="ngModel" placeholder="Filial..." disabled>
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#modalFilial">
									<em class="fa fa-search"></em>
								</button>
							</span>
						</div>
						<div *ngIf="posicionForm.submitted && !filialId.valid" class="help-block">Filial es requerido</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error': posicionForm.submitted && !puestoId.valid}">
						<label class="control-label" for="puesto">Puesto<span class="required">*</span></label>
						<div class="input-group">
							<input type="hidden" class="form-control input-md"  name="puestoId"   [(ngModel)]="posicion.puestoId"    #puestoId="ngModel" required>
							<input type="text"   class="form-control input-md"  name="puestoItem" [(ngModel)]="posicion.puestoItem"  #puestoItem="ngModel" placeholder="Puesto..." disabled>
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#modalPuesto">
									<em class="fa fa-search"></em>
								</button>
							</span>
						</div>
						<div *ngIf="posicionForm.submitted && !puestoId.valid" class="help-block">Puesto es requerido</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error': posicionForm.submitted && !nombre.valid}">
						<label class="control-label" for="nombre">Nombre de la posición<span class="required">*</span></label>
						<input class="form-control col-md-12" #nombre="ngModel" id="nombre" name="nombre" maxlength="128" type="text" [(ngModel)]="posicion.nombre" required>
						<div *ngIf="posicionForm.submitted && !nombre.valid" class="help-block">Nombre de la posición es requerido</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error': posicionForm.submitted && !descripcion.valid}">
						<label class="control-label" for="descripcion">Descripción de la vacante<span class="required">*</span></label>
						<input class="form-control col-md-12" #descripcion="ngModel" id="descripcion" name="descripcion" maxlength="128" type="text" [(ngModel)]="posicion.descripcion" required>
						<div *ngIf="posicionForm.submitted && !descripcion.valid" class="help-block">Descripción de la vacante es requerido</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error': posicionForm.submitted && !fechaAux.valid}">
						<label class="control-label" for="fecha">Fecha de altal<span class="required">*</span></label>
						<div class="input-group col-md-12">	
							<input class="form-control" placeholder="dd/MM/yyyy" name="fechaAux" maxlength="10" minlength="10" [(ngModel)]="posicion.fechaAux" ngbDatepicker #fechaAux="ngbDatepicker" required>
							<span class="input-group-btn">
								<button class="btn btn-outline-secondary" (click)="fechaAux.toggle()" type="button">
									<em class="fa fa-calendar"></em>
								</button>
							</span>
						</div>
						<div *ngIf="posicionForm.submitted && !fechaAux.valid" class="help-block">Fecha de alta es requerido</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error': posicionForm.submitted && !contacto.valid}">
						<label class="control-label" for="contacto">Responsable de la posición<span class="required">*</span></label>
						<input class="form-control col-md-12" #contacto="ngModel" id="contacto" name="contacto" maxlength="128" type="text" [(ngModel)]="posicion.contacto" required>
						<div *ngIf="posicionForm.submitted && !contacto.valid" class="help-block">Responsable de la posición es requerido</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error': posicionForm.submitted && !salario.valid}">
						<label class="control-label" for="salario">Presupuesto para la posición<span class="required">*</span></label>
						<input class="form-control col-md-12" #salario="ngModel" id="salario" name="salario" maxlength="128" type="number" [(ngModel)]="posicion.salario" required>
						<div *ngIf="posicionForm.submitted && !salario.valid" class="help-block">Presupuesto para la posición es requerido</div>
					</div>		
					<div class="form-group" [ngClass]="{ 'has-error': posicionForm.submitted && !vacantes.valid}">
						<label class="control-label" for="vacantes">Número de vacantes<span class="required">*</span></label>
						<input class="form-control col-md-12" #vacantes="ngModel" id="vacantes" name="vacantes" maxlength="128" type="number" [(ngModel)]="posicion.vacantes" required>
						<div *ngIf="posicionForm.submitted && !vacantes.valid" class="help-block">Número de vacantes es requerido</div>
					</div>		
					<div class="form-group" [ngClass]="{ 'has-error': posicionForm.submitted && !tiponominaId.valid}">
						<label class="control-label" for="tiponomina">TipoNomina<span class="required">*</span></label>
					<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="a" name="tiponomina" [(ngModel)]="posicion.tiponominaId" required>Externo</div>		
					<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="b" name="tiponomina" [(ngModel)]="posicion.tiponominaId" required>Interno</div>		
					<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="c" name="tiponomina" [(ngModel)]="posicion.tiponominaId" required>Sindicalizado</div>		
						<input type="hidden" class="form-control input-md"  name="tiponominaId"  [(ngModel)]="posicion.tiponominaId"    #tiponominaId="ngModel" required>
						<div *ngIf="posicionForm.submitted && !tiponominaId.valid" class="help-block">TipoNomina es requerido</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error': posicionForm.submitted && !reclutadorId.valid}">
						<label class="control-label" for="reclutador">Reclutador<span class="required">*</span></label>
						<div class="input-group">
							<input type="hidden" class="form-control input-md"  name="reclutadorId"   [(ngModel)]="posicion.reclutadorId"    #reclutadorId="ngModel" required>
							<input type="text"   class="form-control input-md"  name="reclutadorItem" [(ngModel)]="posicion.reclutadorItem"  #reclutadorItem="ngModel" placeholder="Reclutador..." disabled>
							<span class="input-group-btn">
								<button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#modalReclutador">
									<em class="fa fa-search"></em>
								</button>
							</span>
						</div>
						<div *ngIf="posicionForm.submitted && !reclutadorId.valid" class="help-block">Reclutador es requerido</div>
					</div>
					<div class="form-group" [ngClass]="{ 'has-error': posicionForm.submitted && !estatusposicionId.valid}">
						<label class="control-label" for="estatusposicion">EstatusPosicion<span class="required">*</span></label>
					<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="e1" name="estatusposicion" [(ngModel)]="posicion.estatusposicionId" required>Abierta</div>		
					<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="e2" name="estatusposicion" [(ngModel)]="posicion.estatusposicionId" required>Cerrada</div>		
					<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="e3" name="estatusposicion" [(ngModel)]="posicion.estatusposicionId" required>Cancelada</div>		
					<div class="col-md-12"><input type="radio" aria-label="Radio button for following text input" value="e4" name="estatusposicion" [(ngModel)]="posicion.estatusposicionId" required>En pausa</div>		
						<input type="hidden" class="form-control input-md"  name="estatusposicionId"  [(ngModel)]="posicion.estatusposicionId"    #estatusposicionId="ngModel" required>
						<div *ngIf="posicionForm.submitted && !estatusposicionId.valid" class="help-block">EstatusPosicion es requerido</div>
					</div>
					
					
					
					
					
					
					
					
			<div class="ln_solid"></div>
			
			<div class="col-sm-12">
				<div class="input-group">
					<div *ngIf="flagDelete">
						<button class="btn btn-danger" (click)="delete()"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
						<button class="btn btn-link" (click)="return(posicionForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
					</div>
					<div *ngIf="!flag && !flagDelete">
						<button class="btn btn-primary"><span style="margin-right:10px;"  class="fa fa-save"></span>Agregar</button>
						<button class="btn btn-link" (click)="return(posicionForm)"><span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
					</div>
				</div>
			</div>			
			</form>
			<!-- ./form -->
			
			</div>
		</div>
	</div>
	