<div>
	<div class="page-title" style="background: #F7F7F7;">
		<div class="title_left">
			<h3 *ngIf="flagDelete">Eliminar Rol</h3>
			<h3 *ngIf="flag && !flagDelete">Actualizar Rol</h3>
		</div>
	</div>

	<div class="x_panel">
		<div class="x_title">
			<h2>Datos de Rol</h2>
			<div class="clearfix"></div>
		</div>

		<div class="x_content">
			
			<!-- form -->
			<form #rolForm="ngForm" id="rolForm" class="form-horizontal form-label-left" (ngSubmit)="rolForm.valid" novalidate>
				<input class="form-control" #rolId="ngModel" rolId="rolId" name="rolId" type="hidden" [(ngModel)]="rol.rolId">
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="clave">Clave del rol<span class="required">*</span></label>
							<input class="form-control col-md-12"   #clave="ngModel" id="clave" name="clave" maxlength="128" type="number" [(ngModel)]="rol.clave" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': rolForm.submitted && !clave.valid}">
							<label class="control-label" for="clave">Clave del rol<span class="required">*</span></label>
							<input class="form-control col-md-12" #clave="ngModel" id="clave" name="clave" maxlength="128" type="number" [(ngModel)]="rol.clave" required>
							<div *ngIf="rolForm.submitted && !clave.valid" class="help-block">Clave del rol es requerido</div>
						</div>
					</div>	
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="nombre">Nombre<span class="required">*</span></label>
							<input class="form-control col-md-12" #nombre="ngModel" id="nombre" name="nombre" maxlength="128" type="text" [(ngModel)]="rol.nombre" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': rolForm.submitted && !nombre.valid}">
							<label class="control-label" for="nombre">Nombre<span class="required">*</span></label>
							<input class="form-control col-md-12" #nombre="ngModel" id="nombre" name="nombre" maxlength="128" type="text" [(ngModel)]="rol.nombre" required>
							<div *ngIf="rolForm.submitted && !nombre.valid" class="help-block">Nombre es requerido</div>
						</div>
					</div>	
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="activo">Activo<span class="required">*</span></label>
							<input class="form-control col-md-12"   #activo="ngModel" id="activo" name="activo" maxlength="128" type="number" [(ngModel)]="rol.activo" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': rolForm.submitted && !activo.valid}">
							<label class="control-label" for="activo">Activo<span class="required">*</span></label>
							<input class="form-control col-md-12" #activo="ngModel" id="activo" name="activo" maxlength="128" type="number" [(ngModel)]="rol.activo" required>
							<div *ngIf="rolForm.submitted && !activo.valid" class="help-block">Activo es requerido</div>
						</div>
					</div>	
				<div class="ln_solid"></div>

				<div class="col-sm-12">
					<div class="input-group">
						<div *ngIf="flagDelete">
							<button class="btn btn-danger" (click)="delete()"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
							<a class="btn btn-link" routerLink="../managerol" ><span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</a>
						</div>
						<div *ngIf="flag && !flagDelete">
							<button class="btn btn-primary" (click)="save()"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
							<a class="btn btn-link" routerLink="../managerol" ><span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</a>
						</div>
					</div>
				</div>
			</form>
			<!-- ./form -->
			
		</div>
	</div>
</div>
