<div>
	<div class="page-title" style="background: #F7F7F7;">
		<div class="title_left">
			<h3 *ngIf="flagDelete">Eliminar Empresa</h3>
			<h3 *ngIf="flag && !flagDelete">Actualizar Empresa</h3>
		</div>
	</div>

	<div class="x_panel">
		<div class="x_title">
			<h2>Datos del Empresa</h2>
			<div class="clearfix"></div>
		</div>

		<div class="x_content">
			<!-- start form for validation -->
			<form #empresaForm="ngForm" id="empresaForm" class="form-horizontal form-label-left" (ngSubmit)="empresaForm.valid && save()" novalidate>
				<input class="form-control" #empresaId="ngModel" empresaId="empresaId" name="empresaId" type="hidden" [(ngModel)]="empresa.empresaId">
				
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="clave">Clave<span class="required">*</span></label>
							<input class="form-control col-md-12"   #clave="ngModel" name="clave" maxlength="128" type="text" [(ngModel)]="empresa.clave" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': empresaForm.submitted && !clave.valid}">
							<label class="control-label" for="clave">Clave<span class="required">*</span></label>
							<input class="form-control col-md-12" #clave="ngModel" name="clave" maxlength="128" type="text" [(ngModel)]="empresa.clave" required>
							<div *ngIf="empresaForm.submitted && !clave.valid" class="help-block">Clave es requerido</div>
						</div>
					</div>
				
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="razonsocial">Razon Social<span class="required">*</span></label>
							<input class="form-control col-md-12"   #razonsocial="ngModel" name="razonsocial" maxlength="128" type="text" [(ngModel)]="empresa.razonsocial" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': empresaForm.submitted && !razonsocial.valid}">
							<label class="control-label" for="razonsocial">Razon Social<span class="required">*</span></label>
							<input class="form-control col-md-12" #razonsocial="ngModel" name="razonsocial" maxlength="128" type="text" [(ngModel)]="empresa.razonsocial" required>
							<div *ngIf="empresaForm.submitted && !razonsocial.valid" class="help-block">Razon Social es requerido</div>
						</div>
					</div>
				
					<div *ngIf="flagDelete">
						<div class="form-group">
							<label class="control-label" for="nombrecorto">Nombre Corto<span class="required">*</span></label>
							<input class="form-control col-md-12"   #nombrecorto="ngModel" name="nombrecorto" maxlength="128" type="text" [(ngModel)]="empresa.nombrecorto" readonly disabled>
						</div>
					</div>
					<div *ngIf="!flagDelete">
						<div class="form-group" [ngClass]="{ 'has-error': empresaForm.submitted && !nombrecorto.valid}">
							<label class="control-label" for="nombrecorto">Nombre Corto<span class="required">*</span></label>
							<input class="form-control col-md-12" #nombrecorto="ngModel" name="nombrecorto" maxlength="128" type="text" [(ngModel)]="empresa.nombrecorto" required>
							<div *ngIf="empresaForm.submitted && !nombrecorto.valid" class="help-block">Nombre Corto es requerido</div>
						</div>
					</div>
				


				<div class="ln_solid"></div>

				<div class="col-sm-12">
					<div class="input-group">
						<div *ngIf="flagDelete">
							<button class="btn btn-danger" (click)="delete()"><span style="margin-right:10px;"  class="fa fa-trash"></span>Eliminar</button>
							<button class="btn btn-link" (click)="return(empresaForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
						</div>
						<div *ngIf="flag && !flagDelete">
							<button class="btn btn-primary"><span style="margin-right:10px;"  class="fa fa-save"></span>Modificar</button>
							<button class="btn btn-link" (click)="return(empresaForm)"> <span style="margin-right:10px;"  class="fa fa-arrow-left"></span>Regresar</button>
						</div>
					</div>
				</div>
			</form>
			<!-- end form for validation -->
		</div>
	</div>
</div>
